<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="<%= csrfToken %>" />

  <body>
    <div class="container">
      <h3>Create User</h3>
      <form id="userForm">
        <div class="mb-3">
          <label for="input-username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="input-username"
            name="username"
          />
        </div>
        <div class="mb-3">
          <label for="input-email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="input-email"
            name="email"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="input-password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="input-password"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  <script src="https://unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://v5.getbootstrap.com/docs/5.0/dist/js/bootstrap.min.js"></script>

    <script>
      document
        .getElementById("userForm")
        .addEventListener("submit", onFormSubmited, false);

      function onFormSubmited(event) {
        event.preventDefault();

        var token = document
          .querySelector('meta[name="csrf-token"]')
          .getAttribute("content");

        fetch("/admin/user", {
          credentials: "same-origin",
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "CSRF-Token": token,
          },
          body: JSON.stringify({
            username: userForm.username.value,
            email: userForm.email.value,
            password: userForm.password.value,
          }),
        })
          .then(function (result) {
            return result.text();
          })
          .then(function (message) {
            alert(message);
          })
          .catch(console.error);
      }
    </script>
  </body>
</html>
